body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 1rem;
}

section {
    margin: 1rem 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
 form {
    border: 2px solid #333;
    padding: 15px;
    margin-top: 3px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(red, green, blue, alpha);
    width: 400px;
    background-image: url('télécharger.jpg');
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    color: white;

    
}
